<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div id="header">
    <h1 id="title">hello<span class="secondary">world.</span></h1>
    <div class="buttons">
      <button onclick="call('restart-containers')">restart containers</button>
      <span class="or">or</span>
      <button onclick="call('restart-networking')">restart networking</button>
      <span class="or">or</span>
      <button onclick="call('reboot')">reboot</button>
      <div class="others">
        <span class="or">or</span>
        <button onclick="call('shutdown')">shutdown</button>
      </div>
    </div>
  </div>

  <div id="main_container">
    <div id="status_container" class="container">
      {% for url in urls %}
      <a class="status" data-url="{{url}}" href="{{url}}" target="_blank">
        <div class="indicator loading"></div>
        {% set domain = url.split("//")[1] %}
        {% set parts = domain.split(".") %}
        {% if parts|length > 2 %}
        {% set subdomain = parts[0] %}
        {% set domain = "." + ".".join(parts[1:]) %}
        <div>{{subdomain}}<span class="secondary">{{domain}}</span></div>
        {% else %}
        <div>{{domain}}</div>
        {% endif %}
      </a>
      {% endfor %}
    </div>

    <div id="sysinfo" class="container">
      <div class="info container">
        <div class="data"><span id="cpu_usage"></span><span class="secondary">%</span></div>
        <div class="description">cpu<span class="secondary">usage</span></div>
      </div>
      <div class="info container wide">
        <div class="data"><span id="memory_usage"></span><span class="secondary">/<span id="memory_total"></span>GB</span></div>
        <div class="description">memory<span class="secondary">usage</span></div>
      </div>
      <div class="info container wide">
        <div class="data"><span id="disk_usage"></span><span class="secondary">/<span id="disk_total"></span>GB</span></div>
        <div class="description">disk<span class="secondary">usage</span></div>
      </div>
      <div class="info container">
        <div class="data"><span id="power_draw"></span><span class="secondary">W</span></div>
        <div class="description">power<span class="secondary">draw</span></div>
      </div>
    </div>

    <script src="static/script.js" async></script>
</body>

</html>