:root {
  --background: #161616;
  --background-light: #1f1f1f;
  --text: #ffffff;
  --text-light: #b4b4b4;
  --border: 1px solid #303030;
  --status-loading: #dec268;
  --status-ok: #82eb3c;
  --status-error: #ec5c34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--text);
}

.secondary {
  color: var(--text-light);
  font-weight: 300;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title,
#actions_button {
  padding: 50px 80px;
  font-size: 20px;
  font-weight: 400;
}

#actions_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: transparent;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  backdrop-filter: blur(0px);
  filter: blur(40px);
  transition: opacity .3s, backdrop-filter .3s, filter .6s .1s;
}

#actions_menu.visible {
  pointer-events: all;
  opacity: 1;
  backdrop-filter: blur(40px);
  filter: blur(0px);
}

#exit_actions {
  height: 100px;
}

#exit_actions::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  aspect-ratio: 1;
  margin: 30px;
  border-radius: 100% 100% 0 0;
  border: 3px solid var(--text-light);
  border-color: var(--text-light) transparent transparent transparent;
  rotate: 45deg;
  z-index: 10;
  transition: all .2s;
}

#actions {
  display: flex;
  flex-direction: column;
}

#actions button {
  font-size: 32px;
  padding: 30px 0;
  border-top: var(--border);
  border-bottom: var(--border);
  transition: background-color .2s;
}

#actions button:hover {
  background-color: #ffffff05;
}


#main_container {
  max-width: min(100%, 1600px);
  margin: auto;
  padding: min(50px, 5%);
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#status_container {
  padding: 40px 50px;
  border: var(--border);
  border-radius: 40px;
}

.status {
  display: flex;
  position: relative;
  background-color: var(--background-light);
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
  border: var(--border);
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s;
}

.status::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  aspect-ratio: 1;
  margin: 3px;
  border-radius: 100% 100% 0 0;
  border: 1px solid var(--text-light);
  border-color: var(--text-light) transparent transparent transparent;
  rotate: 45deg;
  z-index: 10;
  opacity: 0;
  transition: all .2s;
}

.status:hover::after {
  opacity: 1;
  margin: 5px;
}

.status.error {
  box-shadow: inset 30px 0 30px -25px var(--status-error);
}

.status .indicator {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all .2s;
}

.status.ok .indicator {
  background-color: var(--status-ok);
}

.status.error .indicator {
  background-color: var(--status-error);
}

.status:hover .indicator {
  scale: 1.1;
}

#sysinfo {
  flex: 1 1;
  display: flex;
  gap: 10px;
}

#sysinfo .row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.info {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: 30px;
  padding: 20px 50px;
}

.info.wide {
  flex: 2;
}

.info .data {
  font-weight: 600;
  font-size: 35px;
  flex: 1;
}

.info .description {
  opacity: 0.5;
}

.info .graph {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 5px;
  border-radius: inherit;
  mask-image: linear-gradient(0deg, #0001, #0004 50%, #0007);
  z-index: -1;
}

/* loading state */
.status:not(.ok):not(.error) .indicator {
  background-color: var(--status-loading);
}

/* loading animation */
.status:not(.ok):not(.error),
.info:has(.data span:empty) {
  mask-image: linear-gradient(40deg, #0007, #fff, #0007, #fff);
  mask-size: 400% 100%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    mask-position: right;
  }

  100% {
    mask-position: left;
  }
}