:root {
  --background: #161616;
  --background-light: #1f1f1f;
  --text: #ffffff;
  --text-light: #b4b4b4;
  --border: 1px solid #303030;
  --status-loading: #dec268;
  --status-ok: #82eb3c;
  --status-error: #ec5c34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--text);
}

.secondary {
  color: var(--text-light);
  font-weight: 300;
}

#header {
  margin: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 20px;
  font-weight: 400;
}

#header .buttons {
  display: flex;
  align-items: center;
}

#header .buttons .others {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 20px;
  opacity: 0;
  text-wrap: nowrap;
  transition: all .6s;
  interpolate-size: allow-keywords;
}

#header .buttons .others:hover {
  width: auto;
  opacity: 1;
  transition-delay: 1s;
}

#header button {
  color: var(--text-light);
  font-weight: 300;
  padding: 5px 10px;
}

#header .or {
  opacity: 0.6;
  font-weight: 200;
}

#main_container {
  width: 100%;
  padding: min(50px, 5%);
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#status_container {
  padding: 40px 50px;
  border: var(--border);
  border-radius: 40px;
}

.status {
  display: flex;
  position: relative;
  background-color: var(--background-light);
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
  border: var(--border);
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s;
}

.status::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  aspect-ratio: 1;
  margin: 3px;
  border-radius: 100% 100% 0 0;
  border: 1px solid var(--text-light);
  border-color: var(--text-light) transparent transparent transparent;
  rotate: 45deg;
  z-index: 10;
  opacity: 0;
  transition: all .2s;
}

.status:hover::after {
  opacity: 1;
  margin: 5px;
}

.status.error {
  box-shadow: inset 30px 0 30px -25px var(--status-error);
}

.status .indicator {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all .2s;
}

.status.ok .indicator {
  background-color: var(--status-ok);
}

.status.error .indicator {
  background-color: var(--status-error);
}

.status:hover .indicator {
  scale: 1.1;
}

#sysinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.info {
  width: min-content;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: 30px;
  padding: 20px 50px;
}

.info.wide {
  flex-basis: 50%;
}

.info .data {
  font-weight: 600;
  font-size: 35px;
  flex: 1;
}

.info .description {
  opacity: 0.5;
}

/* loading state */
.status:not(.ok):not(.error) .indicator {
  background-color: var(--status-loading);
}

/* loading animation */
.status:not(.ok):not(.error),
.info:has(.data span:empty) {
  mask-image: linear-gradient(40deg, #0007, #fff, #0007, #fff);
  mask-size: 400% 100%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    mask-position: right;
  }

  100% {
    mask-position: left;
  }
}